<!DOCTYPE html>
<html>

<% include partials/_head %>

<body>
  <% include partials/_header %>
  <div class="wrapper">
    <main>
      <h2>ShortURL: <a href="<%= longURL[shortURL] %>"><span class='bold'>
            <%= `localhost:8080/u/${shortURL}` %></span></a></h2>
      <form action="/urls/<%= shortURL %>" method="POST">
        <input type="text" name='updatedURL' placeholder=' <%= longURL[shortURL] %> ' value='<%= longURL[shortURL] %>'>
        <button class='update-button'>Update</button>
      </form>
    </main>
  </div>
  <% include partials/_footer %>
</body>

</html>